/*
 * change-password.css
 */

.change-password-strength-level-bar {
    align-items: center;
}

.change-password-strength-level-box {
    background-color: var(--change-password-strength-level-box-color);
    height: 1.625ex;
    width: 2em;
    margin: 1px;
    border: solid gray 1px;
    border-radius: var(--lumo-border-radius-s);
    transform: skew(-20deg);
}
